@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: auto;
    font-family: 'Poppins', sans-serif;
}

.nepaliDate {
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: rgb(255, 46, 46); 
    padding-top: 130px;
}

.englishDate { 
    font-size: 35px;
    color: black;
    padding-top: 35px;
    font-weight: bolder;
}

.centered-text {
    text-align: center; 
}


.button {
    background-color: #6c757d; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px; 
    cursor: pointer;
    border-radius: 8px;
    font-weight: bolder;
    margin-top: 90px;
    
}

.button:hover {
    background-color: rgb(248, 83, 83);
}

.nepaliDate {
    display: inline-block; 
    padding-right: 50px;
    padding-left: 350px;
}
